* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(212, 212, 212);
    font-family: monospace;
}

.h1div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 42px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 32px;
    text-decoration: none;
}
button:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

h1 {
    width: 80%;
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
}

.form-div p {
    padding: 5px;
}

.siteImages {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    widows: 500px;
}
.box {
    padding: 10px;
    box-shadow: -5px 30px 10px -24px rgba(0, 0, 0, 0.87);
    background-color: white;
    margin: 5px;
}

.border:hover {
    cursor: pointer;
}

.border {
    object-fit: contain;
    height: 250px;
    width: 300px;
    border: black solid 1px;
    overflow: hidden;
}

.border h4 {
    margin: 15px;
}

.modalParent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.modal {
    top: 50px;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    color: red;
    flex-direction: column;
    height: 700px;
    width: 800px;
    overflow: scroll;
}

.closeBtn:hover {
    cursor: pointer;
}

.modal button {
    transform: scale(0.6);
}

.formTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .siteImages {
        list-style: none;
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
    }
    .modal {
        width: 600px;
    }
}
